@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #08080f;
  --foreground: #ffffff;
}

html {
  scroll-behavior: smooth;
}

body {
  background: #08080f;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
